.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.navbar>h1 {
    font-size: 28px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.resume-btn {
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    padding: 15px 30px;
    margin-top: 10px;
    color: black;
}

.banar-section {
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
}

.banar-section {
    margin-top: 36px;
    text-align: center;
    padding: 50px 350px 50px 350px;
}

.banner-title {
    font-size: 58px;
    font-weight: bolder;
    margin-bottom: 0;
}

.banner-drescription {
    font-size: 16px;
    font-weight: 300px;
    padding: 0 80px 0px 80px;
    color: #0D1321;
}

.contact-btn {
    font-size: 20px;
    border-radius: 6px;
    padding: 15px 30px;
    margin-top: 10px;
    color: white;
    background-color: #0D1321;
}



#main {
    width: 80%;
    margin: 0 auto;
}

.developer-section {
    background-color: #f9fafc;
    padding: 80px 144px;
    margin-top: 100px;
    border-radius: 16px;
}

.development-title {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 40px;

}

.development-drescription {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    padding: 0 100px 0 100px;
}

.development-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 48px;
    margin-bottom: 32px;
    border-radius: 16px;
    box-shadow: #0D1321;
}

.development-container-title {
    padding-right: 200px;
}

.deve-title-2 {
    margin-left: 30px;
}

.conteinar-title {
    font-size: 24px;
    font-weight: bold;
    color: #5a5b5e;

}

.container-sub-title {
    font-size: 16px;
    font-weight: 600;
    color: #5a5b5e;

}


.dev-btn {
    padding: 10px 30px;
    font-size: 20px;
    color: #5a5b5e;
    border: 2px solid;
}

/* last contant */
.last-contant {
    background-image: url(assets/handshake.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 180px;
    border-radius: 16px;
}

.i-frame {
    
    margin-top: 90px;

}

.frame {
    border: 1px solid;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
    
}

.skills-container{
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.skill{
    border: 1px solid white;
    padding: 30px;
    width: 33%;
    height: 33%;
    background-color: #ffdad931;
    border-radius: 16px;
}
.skill-2{
    background-color: rgba(255, 228, 196, 0.325);
}
.skill-3{
background-color: rgba(210, 185, 214, 0.167);
}
.more{
    color: black;
}
